{% extends "base.html" %}

{% block title %}About Us{% endblock %}

{% block content %}
<div class="container">
    <h1 class="text-center mb-4">About Us</h1>
    <div class="row">
        <div class="col-md-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Team Member 1</h5>
                    <p class="card-text">Description of team member 1's role and background.</p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Team Member 2</h5>
                    <p class="card-text">Description of team member 2's role and background.</p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Vidya Mansukhani</h5>
                    <p class="card-text">Hi, I'm Vidya! I'm 9 years old and in grade 4 at Sir William Osler Elementary School. I love coding and editing, and in my free time, you can find me doing art, swimming, or cooking up something fun! Even when I was 8 and in 3rd grade, I was already diving into the world of tech and learning a ton about coding. I'm always excited to keep learning and creating cool things!</p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
